<%- include ('partials/head.ejs') %>
<%- include ('partials/menu.ejs') %> 
    <div id="main_container">
        <%- include ('partials/userWelcome.ejs') %>

        <div class="dashboard">
            <div id="sensors">
                <div  class="sensor temperature">Motion
                    <div id="motionElement"></div>
                </div>
                <div  class="sensor humidity">Temperature
                    <div id="thermElement"></div>
                </div>
                <div class="sensor light">Light
                    <div id="lightElement" ></div>
                </div>
                <div  class="sensor room">Humidity
                    <div id="humidityElement"></div>
                </div>
            </div>

            <div class="news">
                <h2>Headlines</h2>
                <div class="articles">
                    <% for(let i = 0; i < articles.length; i++) { %>
                        <div class="article">
                            <img src="<%= articles[i].urlToImage %>" alt="article-image<%= i %>">
                            <h3><a target="_blank" href="<%= articles[i].url %>"><%= articles[i].title %></a></h3>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>

        <div class="graph">
            Paste the graph here....
        </div>
    </div>
<%- include ('partials/tail.ejs') %> 