<%- include ('partials/head.ejs') %>
<div id="main-wrapper">
    <%- include ('partials/navbar.ejs') %>
    <%- include ('partials/sidebar.ejs') %>
    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">Notification Logs</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-lg- col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex">
                                <h4 class="card-title"><span class="lstick"></span>Notification Logs</h4>
                            </div>
                            <div class="message-box contact-box">
                                <div class="message-widget contact-widget">
                                    <% for(let i = 0; i < logs.length; i++) { %>
                                    <a href="#">
                                        <div class="user-img"> <img src="images/<%= logs[i].icon %>.png" alt="user"
                                                class="img-circle"> <span class="profile-status busy pull-right"></span>
                                        </div>
                                        <div class="mail-contnet">
                                            <h5><%= logs[i].type %></h5> <span class="mail-desc"><%= logs[i].message %></span>
                                        </div>
                                    </a>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-place-holder"></div>
        </div>
        <footer class="footer"></footer>
    </div>
</div>
<%- include ('partials/tail.ejs') %>