<%- include ('partials/head.ejs') %>
<div id="main-wrapper">
    <%- include ('partials/navbar.ejs') %>
    <%- include ('partials/sidebar.ejs') %>
    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">Notification Alerts</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex">
                                <div>
                                    <h4 class="card-title"><span class="lstick"></span>Notification Alerts</h4>
                                </div>
                            </div>
                            <div class="table-responsive m-t-20">
                                <table class="table vm no-th-brd no-wrap pro-of-month">
                                    <thead>
                                        <tr>
                                            <th colspan="1">No. Messages</th>
                                            <th>Messages</th>
                                            <th>Timestamps</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for(let i = 0; i < notifications.length; i++) { %>
                                        <tr>
                                            <td style="width:50px;"><span class="round"><b>1</b></span></td>
                                            <td>
                                                <span class="mail-desc"><%= notifications[i].message %></span>
                                            </td>
                                            <td><%= notifications[i].time %></td>
                                        </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-place-holder"></div>
        </div>
        <footer class="footer"></footer>
    </div>
</div>
<%- include ('partials/tail.ejs') %>